*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  height: 600px;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: none;
}

.container img.active{
  display: block;
}

.direction{
  height: 100%;
  width: 10%;
  display: flex;
  position: absolute;
}

.after{
  top: 0;
  right: 0;
}

 .direction i{
  margin: auto;
  font-size: 45px;
  color: grey;
}

.direction i:hover{
  color: white;
}

.little-container{
  width: 80%;
  height: 150px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;

}

.lil-image{
  height: 100%;
  width: 20%;
}

.lil-image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
